$MAINCOLOR: rgb(12, 140, 190);
$LIGHT: rgb(236, 248, 253);
$DARKBLUE: rgb(40, 77, 177);

$FONT: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif